html{
    background-image:url('../media/luffy.jpg');
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    background-position: left;
}
@font-face {
    font-family: OnePiece;
    src: url(../fonts/antique-quest-st/Antique\ Quest\ St.ttf);
}
  
body{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}

/* Contents of Pages */
h1{
    font-family: OnePiece;
    width: 50%;
    margin-left: 23.5%;
    font-size: 3em;
    font-weight: 900;
    padding: 15px ;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 25px;
    margin-right: 0px;
    text-align: center;
    opacity: .95;
}
h2{
    font-family: OnePiece;
    text-align: center;
    font-size: 1.6em;
    opacity: .9;
    font-weight: 900;
    background-color: rgb(194, 33, 73);
    padding: 15px;
    border-radius: 25px;
    margin-right: 17px;
    margin: 10px auto;
    border-bottom: 4px black;
    border-right: 4px black;
    width: 90%;
    background-color: rgb(194, 33, 73);

}
h3{
    font-size: .8em;
    font-weight: bold;
}
button{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 17px;
    text-align: center;
    width: 90%;
    height:5%;
    padding: 10px;
    font-size: 1.3em;
    font-weight: 900;
    opacity: .8;
    border-radius: 20px;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4em;
    background-color: #333;
    font-weight: 900;
    min-height:auto;

}
nav {
    vertical-align: middle;
    background-color: #333;
    justify-content: center;
    margin-right: 17px;
    border-radius: 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;

}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
nav a:hover {
    background-color: #111;
    height: 1.5em;
}
nav img{
    height: 1.2em;
    width: 4.3em;
    padding: 0;
}

/* Classes & ids */
#pausePlay button{
    background-color: rgb(255, 255, 255);
}
#pausePlay button:hover{
    background-color: rgb(178, 178, 178);
}
#dodge {
    margin-top: 10px;
}
.lives{
    background-color: rgb(194, 33, 73);
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
}
.battle{
    background-color: #777777;
    opacity: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px 0px 15px 0px;
    width: 50%;
}
.battle:hover{
    border: 2px solid black;

}
.flex.image-container div {
    width: fit-content;
    text-align: center;
}

.flex.image-container img {
    display: block;
    width: 300px;
    height: 250px;
    object-fit: cover;
}
.game-container{
    background-color: rgb(194, 33, 73);
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    opacity: .95;
}
.game-container, .gif-container{

    display:flex;
    justify-content: center;
    flex-direction: row;

}
.modal {
    margin-left: 26%;
    margin-top: 10%;
    display: none; 
    position: fixed; 
    z-index: 1; /* Sit on top of content */
    padding-top: 100px; 
    left: 0;
    top: 0;
    width:50%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
}

.modal-content {
    
    background-color: #fff;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 80%;
}
/* close button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(194, 33, 73);
    margin-right: 17px;
    border-radius: 20px;
    opacity: .9;
}

.flex > div {
    background-color: #f89c9c;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
    flex-shrink: 1;

}
.flex > div > a > img{

    max-height: 120px;
    width: auto;
    filter: blur(5px);
}


/* CSS For different size screens */


@media only screen and (max-width: 500px) {

body {
    max-width: 500px;
}
nav ul{
    max-width: 480px;
    flex-direction:column;

}
nav ul li{
    display:inline-flex;
    
}
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
body {
    max-width: 767px;
    margin: 20px auto 20px auto;
}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
body {
    max-width: 959px;
    margin: 20px auto 20px auto;
}
}
@media only screen and (min-width: 960px) {
body {
    max-width: none;    
}

}